* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #4c6ef5;
    font-size: 1rem;
  }

  a:hover {
    color: #1d2441dc;
  }

  .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navbar .links {
    display: flex;
    gap: 2rem;
  }

  .navbar .toggle_btn {
    color: #4c6ef5;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }

  .action-btn {
    background-color: #4c6ef5;
    color: rgb(63, 60, 60);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
  }

  .action-btn:hover {
    scale: 1.05;
    color: aliceblue;
  }

  .action-btn:active {
    scale: 0.95;
  }

 .dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #4967df60;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 .dropdown-menu.open {
    height: 170px;
 }

 .dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .dropdown-menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
 }

  @media (max-width: 768px) {
    .navbar .links,
    .navbar .action-btn {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown-menu {
        display: block;
    }
  }